<div class="container">
  <h1 class="header">Edit User</h1>
  <form class="signup-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="email">
      <mat-label>{{ email }}</mat-label>
      <input matInput type="text" disabled="true" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="email">
      <input matInput type="text" placeholder="First name" formControlName="firstName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="email">
      <input matInput type="text" placeholder="Last name" formControlName="lastName" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="role">
      <input matInput type="text" placeholder="Role" formControlName="role" />
    </mat-form-field>
    <div class="btn-wrapper">
      <button mat-raised-button class="signup" color="primary" type="submit">Save</button>
    </div>
  </form>
</div>