.full-width-table {
  width: 100%;
}

th {
  font-size: 16px;
}

td {
  text-align: left;
  width: 25%;
}

.mat-row:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.container {
  width: auto;
  margin: 60px 30px;
}
